extends headerConnected

block content
    .main.container
        .row
            .col-md-auto
                h1.display-4.m-b-2 Formulaire d'inscription

                form(method='POST' action='./inscription')
                    div.form-group
                        label(for='nom') Nom:
                        input#nom.form-control(type='text', placeholder='Nom...' name='nom' required=true)
                    div.form-group
                        label(for='prenom') Prenom:
                        input#prenom.form-control(type='text', placeholder='Prenom...' name='prenom' required=true)
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='nom@email.com' name='email' required=true)
                    div.form-group
                        label(for='dateNaissance') Date de naissance:
                        input#dateNaissance.form-control(type='date', placeholder='jj/mm/aaaa' name='dateNaissance' required=true)
                    div.form-group
                        label(for='pswd') Password:
                        input#pswd.form-control(type='password' name='pswd' required=true)

                    button.btn.btn-primary(type='submit') Valider