
<%- include('../../layouts/header.ejs'); %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-auto">
            <h1 class="display-4 m-b-2"> Vos informations </h1>
            <form method="POST" action="/profil/updateInfos?_method=PUT">
                <div class="row">
                    <div class="col">
                        <div class="form-group mt-5">
                            <label for="nomSite"> Nom </label>
                            <input class="form-control" id="nom" type="text" value="<%= userInfos.nomUser %>" name="nom" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="profondeur"> Prénom </label>
                            <input class="form-control" id="prenom" type="text" value="<%= userInfos.prenomUser%>" name="prenom" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="longitude"> Mail </label>
                            <input class="form-control" id="mail" type="email" value="<%= userInfos.mailUser%>" name="mail" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="latitude"> Date de Naissance </label>
                            <input class="form-control" id="age" type="date" value="<%= userInfos.ageUser%>" name="age" required="required" />
                        </div>
                    </div>
                    <div class="col-md-auto m-5">
                        <ul style="list-style-type: none">
                            <% userCertifs.forEach( function (certif) { %>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <% if(certif.idUser != null) {%>
                                                <input type="checkbox" id="defaultChecked" name="<%= certif.labelNiv%>" checked="">
                                                <label> <%= certif.labelNiv %></label>
                                        <% } else {%>
                                                <input type="checkbox" id="defaultChecked">
                                                <label> <%= certif.labelNiv %></label>
                                        <% } %>
                                    </div>
                                </li>
                            <% });%>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
            <form  method="POST" action="/profil/supprimerProfil/?_method=DELETE">
                <button class="btn btn-danger " name="deleteBtn"> Supprimer </button>
            </form>
        </div>
    </div>
</div>

<%- include('../../layouts/footer.ejs'); %>