
<%- include('../../layouts/header.ejs'); %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-auto">
            <h1 class="display-4 m-b-2"> Vos plongées </h1>
            <% listVisit.forEach(function (visit) { %>
                <form method="POST" action="/profil/updateNoteVisit/?_method=PUT">
                    <div class="col m-5">
                        <div class="container bg-light border p-3">
                        <h3 type="date"> <%= moment(visit.date).format('DD/MM/YYYY')%></h3>
                            <div class="row">
                                <div class="col">
                                    <a href="/carriere/<%= visit.nomSitePl%>"> <%= visit.nomSitePl%> </a>
                                </div>
                                <div class="col">
                                    <% if(visit.avis != null) { %>
                                        <a> Notes : <%= visit.avis %> </a>
                                    <% } else { %>
                                        <a> Notes : </a>
                                        <input type="number" step="1" max="5" min="0" onkeydown="return false" value="5" name="note">
                                        <input type="hidden" name="nomSite" value="<%= visit.idSitePl%>">
                                        <input type="hidden" name="dateV" value="<%= moment(visit.date).format('YYYY-MM-DD')%>">
                                        <button type="submit"> Valider </button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            <% }); %>
        </div>
    </div>
</div>

<%- include('../../layouts/footer.ejs'); %>